<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Icons Demo</title>
	<meta name="description" content="Icons">
	<meta name="viewport" content="width=device-width">
  <link href="assets/css/<%= fontName %>.css" rel="stylesheet">
</head>
<body>
  <div class="frame">
    	<div id="top">
	    	<h1><%= fontName %></h1>
      </div>

      <% _.each(glyphs, function(glyph) { %>
        <div class="glyph">
          <span class="<%= className %> <%= className %>-<%= glyph.name %> icon-m"></span>
          <span class="mls"><%= glyph.name %></span>
          <span class="mls"><%= glyph.codepoint.toString(16).toUpperCase() %></span>
        </div>
      <% }); %>
    </div>
  </body>
</html>
